.aa{   background-color: brown;
    width: 600px;
    height: 400px;
    float: left;
    

 
}
.bb{   background-color: whitesmoke;
    width: 600px;
    height: 400px;
    float: left;
  


}
.cc{
    background-color: blue;
    width: 300px;
    height: 200px;
   float: left;

}
.dd{
    background-color: green;
    width: 300px;
    height: 200px;
    float: left;
}
.ee{
    background-color: yellow;
    width: 300px;
    height: 200px;
    float: left;

}
.ff{
    background-color: blue;
    width: 300px;
    height: 200px;
   float: left;

}
.gg{
    background-color: blue;
    width: 300px;
    height: 200px;
   float: left;

}
.hh{
    background-color: green;
    width: 300px;
    height: 200px;
    float: left;
}
.ii{
    background-color: yellow;
    width: 300px;
    height: 200px;
    float: left;

}
.jj{
    background-color: blue;
    width: 300px;
    height: 200px;
   float: left;

}
.kk{   background-color: brown;
    width: 600px;
    height: 400px;
    float: left;

 
}